/Paterrn.class
/Sum.class
/Reverse.class
/Prime.class
/Prime_12.class
/Positive.class
/Palindrome.class
/Num.class
/Month.class
/Isprime_14.class
/Lowup.class
/Gender.class
/Evenodd.class
/Even.class
/Colour.class
